/* INDEX */
body, html {
	margin: 0;
	padding: 0;
}

#home {
	background-image: url(../src/fundo.jpg);
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: black;
}

#anuncio {
	z-index: 100;
	top: 0;
}
/* INDEX */

/* CONFIG GERAIS */
body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-horizontal {
    height: 0;
}

.iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	padding: 0;
	margin: 0;
}

.dropdown-menu {
	max-height: 50vh;
	overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
	width: 0;
}
/* CONFIG GERAIS */